.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.pagination {
  padding: 0.5rem;
  text-align: right;
  border: 1px solid black;
  border-top: 0;
}

.page-button {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 3px;
}

.page-button:not([disabled]):hover {
  background: #ffe7e7;
}